<div class="row">

    <div class="col-xl-4 col-sm-6">
        <div class="card mb-4">
            <div class="card-sm-header">
                <span class="wallet-heading"><i class="cc BTC text_primary" title="BTC"></i><h4>Bitcoin</h4></span>
            </div>
            <div class="card-body">
                <ul class="list_none p-0 wallet_info">
                    <li>
                        <span>Available</span>
                        <span>2.25142 BTC</span>
                    </li>
                    <li>
                        <span>Total Sell</span>
                        <span>$2565.55</span>
                    </li>
                    <li>
                        <span>Total Buy</span>
                        <span>$2352.80</span>
                    </li>
                </ul>
                <a href="#" class="btn btn-primary">Withdraw</a>
                <a href="#" class="btn btn-dark">Diposit</a>
            </div>
        </div>
    </div>
</div>