@using PayCloud.Services.Identity.Contracts

@inject IAdminServices adminServices

<ul class="navbar-nav ml-auto align-items-center">
    <li class="nav-item dropdown menu_user">
        <a class="nav-link dropdown-toggle" id="userDropdown" href="#/index.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Logged in as @((await adminServices.GetLoggedAdminAsync()).Name)
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <ul class="menu-nav list_none">
                <li><a href=""><i class="icon-user"></i><span>My Profile</span></a></li>
                <li><div class="dropdown-divider"></div></li>
                <li><a href="#/index.html" data-toggle="modal" data-target="#exampleModal"><i class="icon-logout icons"></i>Logout</a></li>
            </ul>
        </div>
    </li>
</ul>