<div class="modal fade" id="myDialogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myDialogModal-title"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"  id="myDialogModal-main"></div>
            <div class="modal-footer">
                <button class="btn btn-primary"  id="myDialogModal-button1">Pay</button>
                <button class="btn btn-primary"  id="myDialogModal-button2">Dismiss</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>