
        <div class="card mb-4">
            <div class="card-header text_md_center">My accounts chart</div>
            <div class="card-body">
                <canvas id="myPieChart" width="80%" height="111"></canvas>
            </div>
        </div>

@section Scripts {

    <script>

    </script>
    }