<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog-cust-big" id="myModalSize">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="mymodaltitle">My modal title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="mymodalmain">

                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="mymodal-close-button" class="btn btn-default mt-2" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>