<div class="card-body" style="width:325px">
    @*<h4 class="my-4 text-center text-uppercase">Share your opinon with us</h4>*@
    <div class="input-item">
        <label for="Name">Name</label>
        <input id="InputName" name="Name" type="text" value="" placeholder="Enter name" class="form-control" required>
    </div>
    <div class="input-item">
        <label for="Title">Title</label>
        <input id="InputTitle" name="Title" type="text" value="" placeholder="Enter title" class="form-control" required>
    </div>
    <br />
    <div class="input-item">
        <label for="Message">Message</label>
        <div>
            <textarea id="InputMessage" name="Message" cols="33" rows="5" runat="server"></textarea>
        </div>
    </div>
    <div class="input-item">
        <label for="Email">Email</label>
        <input id="InputEmail" name="Email" type="text" value="" placeholder="Enter email" class="form-control" required>
    </div>
</div>
